---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Summary</div>
  </div>

  <div class="mb-10 text-justify">
    I am a senior Shopify Developer with experience building and maintaining 20+ high-quality Shopify public apps.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Master of Computer Applications"
      subtitle="2012 - 2015 at Singapore Institute of Technology"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Work Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Shopify App Developer(Part-time Contract)"
      subtitle="Oct 2024 - Present at Luna Digital LLC"
    >
      <ul class="list-disc mx-6 grid gap-1">
        <li>Led the development of 5 Shopify apps used by thousands of Shopify stores</li>
        <li>Managed theme-related app integration issues, guaranteeing seamless app functionality across different Shopify themes</li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Shopify App Developer(Part-time Contract)"
      subtitle="Aug 2024 - Present at NEVER STOP Innovations"
    >
      <ul class="list-disc mx-6 grid gap-1">
        <li>Developed an ERP-Shopify STP inventory synchronization system, ensuring accurate real-time stock updates across platforms</li>
        <li>Built a Shopify app featuring a Customer Account UI Extension to provide tailored B2B product discounting and pricing experiences</li>
        <li>Created a Shopify voucher application enabling customers to purchase digital or physical vouchers and deliver them via automated email</li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Full Stack Engineer(Full-time Contract)"
      subtitle="Mar 2024 - Feb 2025 at Zipchat"
    >
      <ul class="list-disc mx-6 grid gap-1">
        <li>Improved AI Chatbot's production recommendation rate and built WhatsApp Marketing campaigns</li>
        <li>Rebuilt standalone Shopify App UI using Polaris including onboarding flow</li>
        <li>Migrated old Shopify Script Tag Javascript into Theme app embed</li>
        <li>Worked with CS team to resolve customers problems</li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Full Stack Engineer(Full-time Contract)"
      subtitle="Jun 2023 - Feb 2024 at Anyfication"
    >
      <ul class="list-disc mx-6 grid gap-1">
        <li>Built real-time notifications Shopify public app that allows Shopify merchants to set up custom alerts across multiple facets-sales, conversions, fulfillment, payments, and security</li>
        <li>Played a key role in building a high-traffic webhook handling architecture with Ruby on Rails, Sidekiq, Redis, and Amazon SQS</li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Senior Back End Ruby on Rails Developer(Full-time Contract)"
      subtitle="Sep 2020 - May 2023 at SponsorPulse™"
    >
      <ul class="list-disc mx-6 grid gap-1">
        <li>Enhanced backend service performance and reliability by 30% through comprehensive re-development and scaling</li>
        <li>Improved application security by 40% with smooth migration from Devise to Auth0 for user authentication</li>
        <li>Improved user experience by 50% and increased revenue by 25% by redesigning and implementing subscription workflow - using Stripe and SendGrid</li>
        <li>Expanded user base by 35% by redesigning and adding multi-language support to the dashboard</li>
        <li>Reduced future incidents by 30% by promptly responding to web application outages and performing post- mortem analyses</li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Full Stack Ruby on Rails Developer(Full-time Contract)"
      subtitle="Jan 2018 - Aug 2020 at Kabo"
    >
      <ul class="list-disc mx-6 grid gap-1">
        <li>Collaborated with cross-functional teams on a key project that resulted in refactoring 70% of monolithic applications into microservices The transition improved scalability by 60% and maintainability by 50%</li>
        <li>Extracted APIs and reusable components across 6 different projects, augmenting modular architecture, and promoting code reusability by 65%</li>
        <li>Proactively facilitated the migration to containerization using Docker and Kubernetes, enhancing deployment efficiency by 55% and resource management by 40%</li>
        <li>Chaired regular code review sessions, providing detailed and constructive feedback to 12+ team members, ensuring 100% adherence to best practices and coding standards</li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Full Stack Ruby on Rails Developer(Full-time Contract)"
      subtitle="2015 - 2017 at Upwork"
    >
      <ul class="list-disc mx-6 grid gap-1">
        <li>Built web sites and applications for various clients</li>
        <li>Learned new technologies as needed to support client needs</li>
      </ul>
    </TimeLineElement>
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Other</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://community.shopify.dev/u/remy727/summary" target="_blank">Shopify Developer Community Profile</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Shopify</li>
    <li>Ruby on Rails</li>
    <li>Node.js</li>
    <li>React</li>
    <li>Vue</li>
    <li>Remix</li>
    <li>Stimulus</li>
    <li>Shopify Polaris</li>
    <li>TypeScript</li>
    <li>PostgreSQL</li>
    <li>MySQL</li>
    <li>Redis</li>
    <li>AWS</li>
    <li>Heroku</li>
    <li>Docker</li>
    <li>Kubernetes</li>
    <li>Sidekiq</li>
    <li>Sentry</li>
    <li>AppSignal</li>
    <li>Stripe</li>
  </ul>
</BaseLayout>
