---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Remy Wang</div>
    <div class="text-3xl py-3 font-bold">Senior Full-Stack Engineer (10 YoE)</div>
    <div class="py-2">
      <text class="text-lg">
        Senior Shopify Developer with experience building and maintaining 20+ high-quality Shopify public apps.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://twitter.com/hello_remywang" target="_blank"> Let's connect!</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Ultimate Order Split(unlisted)"
    img="/shopify.webp"
    desc="Splits Shopify orders and automate fulfillment workflows."
    url="#"
    badge="Shopify App"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Anyfication"
    img="/shopify.webp"
    desc="Send Store Notifications to Slack, Discord and E-mail!"
    url="https://apps.shopify.com/anyfication"
    badge="Shopify App"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Horse Inventory Management"
    img="/shopify.webp"
    desc="Magical Real-Time AI Inventory Management, 1-Minute PO Automation & Multi-Store Sync"
    url="https://apps.shopify.com/horse"
    badge="Shopify App"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Lighthouse: Slack Alerts"
    img="/shopify.webp"
    desc="Get Slack alerts for your most important orders. Filter them by order value and much more."
    url="https://apps.shopify.com/lighthouse-smart-slack-alerts"
    badge="Shopify App"
  />

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">OSS</div>
  </div>

  <HorizontalCard
    title="Shopify App Template - Ruby"
    img="/github.webp"
    url="https://github.com/Shopify/shopify-app-template-ruby"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Polaris ViewComponents"
    img="/github.webp"
    url="https://github.com/baoagency/polaris_view_components"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Polaris Components"
    img="/github.webp"
    url="https://github.com/RAAbbott/polaris-components"
  />
</BaseLayout>
